/* Boton a productos.html-------------------------------------------------------------------*/


.miranos{
    display: flex;
    justify-content: center;
    margin: 30px 50px 50px 50px;  
}

.miranos a{
    border: solid 2px black;
    color: black;
    text-decoration: none;
    text-align: center;
    padding: 10px; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    background-color:black;
    transition: all 0.7s;
}

.miranos a:hover{
   transform: scale(1.2);
   color: black;
   background-color: white;
}