/*Virtudes-------------------------------------------------------------------*/
@import 'body';
@import 'contenedor';
@import 'menu_navegable';
@import 'footer';

.virtudes{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    place-items:center;
}

.virtudes_item{
    display: grid;
    justify-items: center;
    text-align: center;
}

.virtudes_titulo{
display: flex;
justify-content: center;
margin-bottom: 5%;
margin-top: 15%;
font-size: 20px;
}

.virtudes_item h2{
    margin: 15px;
}

