/*Visitanos-------------------------------------------------------------------*/


.visitanos{

    margin-top: 12%;
}

.visitanos_texto{
    text-align: center;
}

.visitanos_texto h2{
    padding-bottom: 4%;
}

.visitanos_texto p{
    padding-bottom: 4%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.visitanos_imagen{
    display:flex;
    justify-content: center;
    margin-top: 3%;
}

.visitanos_imagen img{
    width: 70%;
}

.visitanos_imagen img:hover{
    filter: saturate(200%);
}
