/* Sección productos-------------------------------------------------------------------*/
@import 'body';
@import 'contenedor';
@import 'menu_navegable';
@import 'footer';

.productos_total{
    display: grid;
    background-color: rgb(94, 51, 22);
    padding-top: 40px;
    padding-bottom: 30px;
}
    
.titulo_producto{
    width: 170px;
    padding: 10px 0px 10px 0px;
    display: flex;
    margin: auto;
    margin-bottom: 50px;
    font-size: 25px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: black; 
}

.titulo_producto p{
    margin: auto;
    padding: 0px 15px 0px 15px;
    color: white;
    background-color:black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.productos{
    display: flex;
    flex-direction: row;
}

.izquierda{
    width: 50%;
}

.derecha{
    width: 50%;
}

.productos_postres{
    display: flex;
    position: relative;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
}

.productos_postres p{
    position: absolute;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    color: white;
    background-color:black;
    text-align: center;
    width: 100%;
}

.productos_postres img{
    width: 100%;
    height: 100%;
    object-fit: cover;
   
}

.productos_capsulas{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
    align-content: center;
}

.productos_capsulas img{
    width: 100%;
}

.par{
    position: absolute;
    top:0%; 
}

.productos_capsulas p{
    position: absolute;
    display: block;
    color: black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    color: white;
    background-color:black;
    width: 100%;
    text-align: center;
}

.productos_imagen{
    display: flex;
   justify-content:space-evenly;
   object-fit: cover;
}

.productos_imagen1{
    width: 50%;
    object-fit: cover; 
}

.productos_imagen2{
    width: 50%;
    object-fit: cover; 
}
