/* Boton volver al inicio de la página-------------------------------------------------------------------*/


.volver{
    display: flex;
}

.volver a{
    padding-top: 10px;
    text-decoration: none;
    color: black;
}


.volver a:hover{
    font-size: 18px;
    font-weight: bold;
}