/* CURSO_BARISTA.HTML-------------------------------------------------------------------*/
.body_barista{
    background-color: black;
    
    .barista_texto{
        text-align: map-get($diseño, texto-centrado);
        padding: 20px 0px 80px 0px;
        color: map-get($diseño, color-secundario);
        line-height: 150%
    }
}




