/* Mensaje texto de bienvenida a la página-------------------------------------------------------------------*/

.bienvenido{
    text-align: map-get($diseño, texto-centrado);
    padding-top: 180px;
    padding-bottom: 180px;
    margin-top: 80px;

    .bienvenido_titulo{
        font-size: 6vh;
       font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .bienvenido_parrafo{
        padding-top: 10px;
        font-family: monospace;
        font-size:  4vh;
    }
}

@media screen and (max-width: 576px){

    .bienvenido{
    .bienvenido_titulo{
        font-size:  5vh;
    }

    .bienvenido_parrafo{
        font-size:  3vh;
    }
}
}