/* Mensaje texto de bienvenida a la página-------------------------------------------------------------------*/

.bienvenido{
    text-align: map-get($diseño, texto-centrado);
    padding-top: 180px;
    padding-bottom: 180px;
    margin-top: 80px;

    .bienvenido_titulo{
        font-size: 40px;
       font-family: monospace;
    }

    .bienvenido_parrafo{
        padding-top: 10px;
        font-family: monospace;
        font-size: 18px;
    }
}