
.texto_f{
    margin: 5%;
    text-align: center;
    .contenido_f{
        color: white;

    }
}


.completar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 7%;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;

    .campo{
        color: white;
    }
    .item_imput{
        width: 50%;
    }
    .boton_enviar_form{
        margin-top: 5%;
    }

}