/* Contenedor y nombre cafetería-------------------------------------------------------------------*/
.menu_principal{
    display: $display-g;

    .contenedor{
        position: relative;
        justify-content: center; 
        margin-top: 100px;
        width: auto; 
        @extend %flex;
        
        
        .contenedor_img{
            width: $ancho;
            box-shadow: 5px 8px 12px black;
            transition: all 2s;
            object-fit: cover;
        }
        
        .contenedor_nombre{
            position: absolute;
            top: 10%;
            color: map-get($diseño, color-secundario); 
        }
    }
}






.contenedor_nombre h2{
    font-size: 40px;
}
