/* FOOTER-------------------------------------------------------------------*/

.footer{
    display: flex;
    justify-content: end;
    background-color:black;
    padding-top: 10px;

    .img_footer{
        background-color: map-get($diseño, color-secundario);
        margin-right: 30px; 
    }

    .frase_footer{
        color: map-get($diseño, color-secundario); 
        font-size: 2.5vh; 
    }
    
}
