/* FOOTER-------------------------------------------------------------------*/


.footer{
    @include vista(flex,end);
    width: $ancho;
    height: 30px;
    background-color:black;
    
}


.footer p{
    color: map-get($diseño, color-secundario);  
}

.footer img{
    background-color: map-get($diseño, color-secundario);
    margin-right: 30px; 
}