/*Formulario-------------------------------------------------------------------*/

.formulario{
    margin-top: 15%;
    @extend %flex;
    position: relative;
    justify-content: center;
    background-color: map-get($diseño, color-secundario);

    
    .formulario_texto{
        position:absolute;
        margin-top: 11%;
        text-align: map-get($diseño, texto-centrado);
        font-family: $letra;
        font-size: 15px;
        font-weight: bold;
    }

    .formulario_ir{
        border: solid 1px black;
        color: black;
        text-decoration: none;
        text-align: map-get($diseño, texto-centrado);
        position:absolute;
        margin-top: 22%;
        font-family: $letra;
        font-size: 15px;
    }

    .formulario_imagen{
        width:50%;
    }
}

.formulario  a:hover{
    font-size: 20px;
    font-weight: bold;
    transform: scale(1.1);
    transition: all 0.7s;
    background-color: black;
    color: map-get($diseño, color-secundario);
}