/* Menu navegable-------------------------------------------------------------------*/


@media all and (max-width: 991px){
    #nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }


    #texto_nav{
        text-align: center;
    }

    #icon{
        visibility: hidden
    }
}