/* Menu navegable-------------------------------------------------------------------*/

#nav{
    display: flex;
    justify-content:end;
    
    #nav a{
        font-size: 15px;
        padding: 15px;
        }
}

*#nav a:hover{
    border: 1px solid white;
    transform: scale(0.9);
    transition: all 1s ;
}

#nav a.active{
    border: 1px solid white;
    transition: all 1s ;
}