/* Boton a productos.html-------------------------------------------------------------------*/


.miranos{
    @include vista(flex, center);
    margin: 30px 50px 50px 50px; 
    
    .miranos_link{
        border: solid 2px black;
        color: black;
        text-decoration: none;
        text-align: map-get($diseño, texto-centrado);
        padding: 10px; 
        font-family: $letra;
        color: map-get($diseño, color-secundario);
        background-color:black;
        transition: all 0.7s;
        font-size: 2.5vh;
    }
}



.miranos a:hover{
   transform: scale(1.1);
   color: black;
   background-color: map-get($diseño, color-secundario);
}