/* NOSOTROS.HTML-------------------------------------------------------------------*/

.nosotros{
    display: flex;
    flex-direction: column;
    .nosotros_texto{
        text-align: map-get($diseño, texto-centrado);
        background-color: black;
        color: map-get($diseño, color-secundario);
        padding-top: 50px;
        padding-bottom: 40px ;
        margin-top: 0px;
        font-size: large;
        line-height: 300%
    }
    
    .nosotros_lema{
        font-size: 20px;
        color: map-get($diseño, color-secundario);
        text-align: map-get($diseño, texto-centrado);
        padding-bottom: 150px;
    }
    
    .nosotros_img{
        
        border: 2px solid white;
    }
    
}
