/* PRODUCTOS.HTML-------------------------------------------------------------------*/

.texto_productos{
    text-align: map-get($diseño, texto-centrado);
    color: map-get($diseño, color-secundario);
    margin: 80px;
}

.galeria_contenedor{
    display: $display-g;
    grid-template-columns: repeat(3, 1fr) ;
    grid-auto-rows: 150px ;
    gap: 40px;
    padding: 20px;
    margin-bottom: 7%;

    .galeria_item{
        position: relative;
        
        .galeria_imagen{
            width: $ancho;
            height: 100%;
            object-fit: cover;
        }
        .galeria_texto{
            position: absolute;
            color: map-get($diseño, color-secundario);
            font-family: $letra;
            background-color: black;
            width: $ancho;
            text-align: map-get($diseño, texto-centrado);
            border: 1px solid map-get($diseño, color-secundario);
        }

    }

}







.galeria_item:nth-child(4){
   grid-column-start: span 2;
}

.galeria_item:nth-child(5){
    grid-row-start: span 2;
 }

 .galeria_item:nth-child(9){
    grid-column-start: span 2;
 }


.galeria img:hover{
    filter: saturate(200%);
}

