/*Ubicación e iframe mapa-------------------------------------------------------------------*/


.ubicacion{
    margin-top: 15%;
    @extend %flex;
    justify-content: center;
    background-color: rgb(143, 79, 37);


    .ubicacion_izquierda{
    text-align: map-get($diseño, texto-centrado);
    width: 50%;
    margin: 2%;

        .ubicacion_donde{
            padding-bottom: 10%;
            font-family: $letra;
        }
        
        .ubicacion_imagen{
            padding-bottom: 10%;
        }
        
        .ubicacion_texto{
            padding-bottom: 10%;
            font-family: $letra;
            font-size: 15px;
        }
    }

    .ubicacion_derecha{
        margin-left: 50px;
        width: 50%;

        .mapa{
            width: 95%;
            margin-top: 4%;
        }
    }





}