/*Visitanos-------------------------------------------------------------------*/

.visitanos{

    .visitanos_ver{
        margin-top: 12%;

        .visitanos_titulo{
            text-align: map-get($diseño, texto-centrado);
            padding-bottom: 4%;
        }
        
        .visitanos_texto{
            padding-bottom: 4%;
            font-family: $letra;
            text-align: map-get($diseño, texto-centrado);
        }
    }

    .visitanos_local{
        display:flex;
        justify-content: center;
        margin-top: 3%;

        .visitanos_imagen{
            width: 70%;
        }
    }

    .visitanos_imagen:hover{
        filter: saturate(200%);
    }

}